.cardImageDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 16px;
}
.cardImage{
    border: 1px solid var(--border-color);
    border-radius: 50% !important;

}
.cardBody p{
    margin-bottom: 5px !important;
    
}
.card{
    width: 100% !important;
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    color: var(--text-color);
}
.cardTitle{
    color: var(--text-color-primary);
}