/* 
    General Styles used on every website (Don't Repeat Yourself)

    font-family: 'Julius Sans One', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Work Sans', sans-serif;
    
*/

