/* 
    General Styles used on every website (Don't Repeat Yourself)

    font-family: 'Julius Sans One', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Work Sans', sans-serif;
    
    --violet-jtc: #4b244aff;
    --paynes-gray: #19647eff;
    --verdigris: #28afb0ff;
    --timberwolf: #ddcecdff;
    --isabelline: #eee5e5ff;

*/

/* :root {
    --background-color: #fffffb;
    --text-color: #202020;
    --border-color: gray;
} */
  
.theme-light {
    --background-color: #fffffb;
    --component-background-color: #eee5e5;
    --text-color-primary: #19647e;
    --text-color-secundary: #28afb0; 
    --text-color: #202020;
    --border-color: gray;
    --hover-color:#8a4287;
}
  
.theme-dark {
    --background-color: #0a0a0a;
    --component-background-color: #fffffb;
    --text-color-primary: #45b4d9;
    --text-color-secundary: #79e2e2; 
    --text-color: #fffffb;
    --border-color: darkgray;
    --hover-color:#d8aed7;
}
  
.body {
    background-color: var(--background-color);
    color: var(--text-color);
}



.logo {
    font-family: 'Julius Sans One', sans-serif;
    text-decoration: none !important;
    font-size: 20px;
    letter-spacing: 10px;
}
