.homeContainer{
    background-color: var(--background-color);
    color: var(--text-color);
}

.header{
    color: var(--color-secondary);
    font-size: 28px;
}

.text{
    color: var(--text-color) !important;
    font-size: 14px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
}

.title{
    color: var(--color-tertiary);
    font-family: 'Julius Sans One', sans-serif;
    font-size: 32px;
    letter-spacing: 10px;
}

.my_label{
    font-style: italic;
    color: #202020;
}

.outlineButtonTertiary{
    border-color: var(--color-tertiary);
    background-color: var(--background-color);
    color: var(--color-tertiary);
    font-family: "Raleway", Helvetica;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 4px;
    border-width: 2px;
}

.outlineButtonTertiary:hover{
    background-color: var(--color-tertiary);
    color: var(--button-text-color);
}

.outlineButtonSecondary{
    border-color: var(--color-secondary);
    background-color: var(--background-color);
    color: var(--color-secondary);
    font-family: "Raleway", Helvetica;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 4px;
    border-width: 2px;
}

.outlineButtonSecondary:hover{
    background-color: var(--color-secondary);
    color: var(--button-text-color);
}


.myImg{
    object-fit: cover;
    height: 100%;
    margin: none;
}

